.app__About {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow: hidden;
    z-index: 2;
}

.app__About-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
    justify-content: center;
    padding-left: 200px;
    padding-top: 10rem;

    @media screen and (max-width: 900px) {
        padding-left: 3rem;
    }

    @media screen and (max-width: 450px) {
        padding-left: 1.5rem;
        padding-top: 4rem;
    }
}

.app__About-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--lightGray-color);
    margin-bottom: 50px;
    

    @media screen and (max-width: 900px) {
        font-size: 0.8rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.6rem;
        margin-bottom: 15px;
    }
}

.app__About-desc-container-text {
    align-items: center;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    max-width: 600px;
    color: var(--secondary-color);

    @media screen and (max-width: 900px) {
        
    }

    @media screen and (max-width: 450px) {
        font-size: 1.3rem;
        line-height: 2rem;
        max-width: 100%;
        padding-right: 15px;
    }

    &-secondary {
        padding-top: 2rem;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: 600;
        max-width: 600px;
        color: var(--lightGray-color);
    }
}

.app__About-desc-container-icons {
    margin-top: 50px;

    a {
        margin-right: 20px;
        font-size: 27px;
        color: var(--lightGray-color);

        &:hover {
            color: var(--secondary-color);
        }

        @media screen and (max-width: 450px) {
            margin-right: 15px;
            font-size: 23px;
        }
    }
}
