.app__about {
    position: relative;
    width: 100%;
    min-height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    user-select: none;
    transition: background-color 0.5s ease-in-out;
    z-index: 2;
}

.app__about.darkened {
    background-color: #000000e7;
}


.app__about-info {
    overflow-y: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}

.app__about-title {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    color: var(--green-color);
    margin-bottom: 60px;
    padding-left: 200px;
    padding-top: 60px;
    z-index: 3;

    @media screen and (max-width: 900px) {
        padding-left: 3rem;
        font-size: 0.8rem;
    }

    @media screen and (max-width: 450px) {
        padding-left: 1.2rem;
        padding-top: 4rem;
        font-size: 0.6rem;
        margin-bottom: 40px;
    }
}

.app__about-content {
    max-width: 70%;
    text-align: left;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 200px;
    color: var(--secondary-color);
  
    @media screen and (max-width: 900px) {
        max-width: 90%;
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding-left: 3rem;
    }
  
    @media screen and (max-width: 450px) {
        max-width: 100%;
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 0 1.2rem;
    }
  }

.app__about-text-secondary {
    display: block;
    max-width: 100%;
    padding-top: 2rem;
    line-height: 2.3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--lightGray-color);

    @media screen and (max-width: 900px) {
        
    }

    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
        line-height: 1.7rem;
    }
}

.app__about-icons {
    margin-top: 50px;
    display: flex;
    gap: 20px;

    @media screen and (max-width: 450px) {
        gap: 15px;
    }
}

.app__about-icon {
    font-size: 27px;
    color: var(--green-color);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--secondary-color);
    }

    @media screen and (max-width: 450px) {
        font-size: 23px;
    }
}

.light-gray {
    color: var(--lightGray-color);
}

