.app__header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  z-index: 2;
}

.app__header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding-left: 200px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
  }

  @media screen and (max-width: 450px) {
    padding-left: 0px;
  }
}

.app__header-head-text {
  font-size: 5rem;
  font-weight: 900;
  color: var(--secondary-color);
  max-width: 650px;
  line-height: 6.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 2;

  @media screen and (max-width: 900px) {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2.5rem;
    line-height: 3.5rem;
    max-width: 300px;
  }
}

.light-gray {
  color: var(--lightGray-color);
}
