

.app__navbar {
    user-select: none;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
}

.app__navbar-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.app__navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        color: var(--lightGray-color);
        margin: 3rem 4rem;
        transition: color 0.3s ease-in-out;
        width : 90px;
        line-height: 29px;

        &:hover {
            color: var(--secondary-color);
        }
    }
}

@media screen and (max-width: 900px) {
    .app__navbar-logo 
    a {
        font-size: 1.7rem;
        margin: 1.5rem 1.5rem;
        line-height: 25px; 
    }
}

@media screen and (max-width: 450px) {
    .app__navbar-logo 
    a {
        font-size: 1.2rem;
        margin: 1.2rem 1.2rem;
        line-height: 17px;
    }
}

.app__navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 5rem;

    li {
        margin-left: 60px;
        position: relative;
        cursor: pointer;

        a {
            color: var(--lightGray-color);
            text-decoration: none;
            font-size: 1.125rem;
            font-weight: 700;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }
        }

        a.active {
            position: relative;
            
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -3px; 
                width: 100%;
                height: 1.4px; 
                background-color: var(--lightGray-color);
                transform: scaleX(1);
            }
        }
    }
    
}

@media screen and (max-width: 1080px) {
    .app__navbar-links {
        display: none;
    }
}

.app__navbar-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    width: 60px;

    svg {
        width: 70%;
        height: 70%;
        color: var(--lightGray-color);
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--secondary-color);
        }

        @media screen and (max-width: 900px) {
            width: 45px;
            height: 45px;
            padding-right: 10px;             
        }
        
        @media screen and (max-width: 450px) {            
            width: 30px;
            padding-right: 0px; 
        }
    }
    @media screen and (min-width: 1080px) {
        display: none;
    }
}

.app__navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(1, 1, 1, 0.89);
}

.app__navbar-menu-close {
    margin: 1rem;
    cursor: pointer;

    svg {
        width: 40px;
        height: 40px;
        color: var(--hover-color);
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--secondary-color);
        }

        @media screen and (max-width: 900px) {
            width: 45px;
            height: 45px; 
        }
        
        @media screen and (max-width: 450px) {
            width: 35px;
            height: 35px;
            
        }
    }
}

.app__navbar-menu ul {
    list-style: none;
    margin: auto 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        margin-bottom: 2.5rem;

        a {
            color: var(--hover-color);
            text-decoration: none;
            font-size: 2rem;
            font-weight: 600;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }

            @media screen and (max-width: 450px) {
                font-size: 1.5rem;
             
            }
        }
    }    
}