.app__Work {
  position: relative;
  width: 100%;
  min-height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  user-select: none;

}

.app__Work-info {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  z-index: 3;
}

.app__Work-title-title {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    color: var(--lightGray-color);
    margin-bottom: 100px;
    padding-top: 10rem;
    padding-left: 200px;
    z-index: 3;

  @media screen and (max-width: 900px) {
        padding-left: 3rem;
        font-size: 0.8rem;
    }

    @media screen and (max-width: 450px) {
        padding-left: 1.5rem;
        padding-top: 8rem;
        font-size: 0.6rem;
        margin-bottom: 15px;
    }
}


.app__Work-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}

.app__Work-card {
  //padding: 10px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 250px;
  margin: 16px;
  overflow: hidden;
  border-top:  1px solid var(--darkGray-color);
  border-bottom:  1px solid var(--darkGray-color);
}

.app__Work-card {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: transform 2s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 2;
  
}

.card-1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--lightGray-color);
  margin-left: 200px;

  @media screen and (max-width: 450px) {
    font-size: 2rem;
    margin-left: 1.5rem;
  }
}

.card-description{
  margin-left: 200px;
  color: var(--lightGray-color);

  @media screen and (max-width: 450px) {
    margin-left: 1.5rem;
  }
}

.app__Work-card:hover .card-1 {
  content: url('../../assets/card_2hover.png');
  transform: scale(1.06);
  z-index: 3;
  
}

/*
.app__Work-card:hover .card-image {
  transform: scale(1.08);
}

.app__Work-card:hover .card-description {
  transform: translateY(0);
}
*/
.app__Work-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-image: url('../../assets/work_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 1;
}
