.app__Footer {
    position: relative;
    text-align: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    align-items: center;
    user-select: none;
    min-height: 50px;
    background-color: var(--background2-color);
    z-index: 5;
    padding-right: 20px;
    padding-left: 20px;

    @media screen and (max-width: 450px) {
      padding: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}

.app__footer-content-form-line {
  height: 1px;
  background-color: var(--darkGray-color);
}

.app__footer--content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: var(--lightGray-color);
    font-size: 0.8rem;
    padding-top: 10px;

    @media screen and (max-width: 450px) {
      font-size: 0.65rem;
      flex-direction: column;
    }
}

.app__footer-right-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;

    @media screen and (max-width: 450px) {
      font-size: 0.65rem;
      padding-top: 5px;
    }
}

  .app__footer-logo img{
    width: 35px;
    margin-left: 10px;

    @media screen and (max-width: 450px) {
      width: 30px;
      margin-left: 12px;
    }
}