.app {
    background-repeat: no-repeat;
    font-family: var(--font-base);
   
}

/* Shared Background for Header & About */
.app__shared-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/andrematos_creative_photo.png'); /* Corrected path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 0;
}


.app__master-container {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
